<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./commoncomp/link')  %>
</head>
<body>
   
    <%- include('./commoncomp/navbar')  %>
   


    <div style="width: 300px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
        <form action="/user/signin" method="post">
            <input type="text" name="email" placeholder="email" style="width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 4px;">
            <input type="text" name="password" placeholder="password" style="width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 4px;">
            <button type="submit" style="width: 100%; padding: 10px; margin: 10px 0; border: none; border-radius: 4px; background-color: #4CAF50; color: white; font-size: 16px; cursor: pointer;">Submit</button>
        </form>
    </div>
   


    
    
    
    
    
    
    <%- include('./commoncomp/footer')  %>
  
   

    <%- include('./commoncomp/script')  %>

    
</body>
</html>